@model ClienteModel
@{
    ViewData["Title"] = "Cadastrar Cliente";
}



<h1 class="text-center display-4">Cadastro de Clientes</h1>

<form asp-controller="Cliente" asp-action="CadastrarCliente" method="post">

    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Thiago Silva">
    </div>

    <div class="form-group">
        <label for="nome">Tipo de plano</label>
        <input type="text" asp-for="Plano" class="form-control" placeholder="Mensal">
    </div>

    <div class="form-group">
        <label for="nome">Data de Nascimento</label>
        <input type="text" asp-for="DataNascimento" type="date" class="form-control" placeholder="DIA/MES/ANO">
    </div>

    <div class="form-group">
        <label for="nome">Data Do Cadastro</label>
        <input type="date" asp-for="DataCadastro" class="form-control" placeholder="DIA/MES/ANO">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input asp-for="Email" class="form-control" type="email" class="form-control" placeholder="E-mail da Empresa">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">Enviar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
    </div>

</form>