@model List<ClienteTreinoViewModel>

@{
    ViewData["Title"] = "Treinos do Cliente";
}

<div class="text-center">
    <h1 class="display-4">Treinos</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Observações</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Excluir/Ver</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var clienteComTreinos in Model)
            {
                <tr>
                    <th scope="row">@clienteComTreinos.Treinos.FirstOrDefault()?.TreinoPersonalizadoId</th>
                    <td>@clienteComTreinos.Treinos.FirstOrDefault()?.Observacoes</td>
                    <td>@clienteComTreinos.Treinos.FirstOrDefault()?.DataCriacao</td>
                    <td>
                        <button type="button" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-primary" id="ver">Ver</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="CadastroTreino" asp-controller="TreinoPersonalizado" method="get">
        <input type="hidden" id="clienteId" name="clienteId" value="@ViewContext.HttpContext.Request.Query["clienteId"]" />
        <button type="submit" class="btn btn-success">Adicionar Treino</button>
    </form>

</div>
