
@{
    ViewData["Title"] = "Perfil";
}

<div class="text-center">
    <h1 class="display-4">"Nome Do Aluno"</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Observações</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Excluir/Ver</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Segunda</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-primary" id="ver">Ver</button>
                </td>
            </tr>

        </tbody>
    </table>

    <button type="button" class="btn btn-success">Adicionar Treino</button>

</div>