@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">"Nome da Sua Academia"</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Editar/Ecluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button type="button" class="btn btn-danger">Excluir</button> <button type="button" class="btn btn-primary">Editar</button></td>
            </tr>

        </tbody>
    </table>
</div>
